<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.muroo.systems.bsp">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".MspApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppNoActionBarTheme"
        >

        <activity android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MenuActivity"
            android:parentActivityName=".activity.LoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.co.muroo.systems.bsp.activity.LoginActivity" />
        </activity>

        <activity android:name=".activity.MenuBtnsActivity"
            android:parentActivityName=".activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.co.muroo.systems.bsp.activity.LoginActivity" />
        </activity>

        <activity
            android:name=".activity.PayActivity"
            android:parentActivityName=".activity.MenuBtnsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.co.muroo.systems.bsp.activity.MenuBtnsActivity" />
        </activity>

        <activity
            android:name=".activity.PaylistActivity"
            android:parentActivityName=".activity.MenuBtnsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.co.muroo.systems.bsp.activity.MenuBtnsActivity" />
        </activity>

        <activity
            android:name=".activity.PayMuroolistActivity"
            android:parentActivityName=".activity.MenuBtnsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.co.muroo.systems.bsp.activity.MenuBtnsActivity" />
        </activity>

        <activity
            android:name=".activity.DetailActivity"
            android:parentActivityName=".activity.PayActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.co.muroo.systems.bsp.activity.PayActivity" />
        </activity>

    </application>

</manifest>